/* Global styles */
body {
    background-color: #f5f5f5;
    font-family: cursive;
    }
    
    /* Flyer styles */
    .flyer {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    }
    
    .header {
    background-color: lightcoral;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    }
    
    .header img {
    max-width: 50px;
    margin-right: 10px;
    }
    
    .header h1 {
    font-size: 2em;
    margin: 0;
    
    }
    
    .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    }
    
    .image img {
    max-width: 300px;
    object-fit: cover;
    }
    
    .text {
    max-width: 300px;
    text-align: center;
    }
    